<%= form_with(model: @purchase, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :item_id %>

    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create purchase", class: "btn btn-block btn-outline-secondary" %>
<% end %>
