<!-- Form purchase start -->
<%= form_with(model: @purchase, local: true) do |f| %>
<!-- Form purchase end -->

  <!-- Label and input for item_id start -->
  <div class="form-group">
    <%= f.label :item_id %>

    <!-- Input for item_id start -->
    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for item_id end -->
  </div>
  <!-- Label and input for item_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <%= f.submit "Create purchase", class: "btn btn-block btn-outline-secondary" %>
<% end %>
