<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :item_id %>

    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
