<div class="card mb-3">
  <h2 class="card-header h4">
    Purchase #<%= purchase.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item</dt>
      <!-- Display item_id start -->
      <dd><%= purchase.item_id %></dd>
      <!-- Display item_id end -->

      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= purchase.user_id %></dd>
      <!-- Display user_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back purchase, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link purchase start -->
      <div class="col">
        <%= link_to edit_purchase_url(purchase), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link purchase end -->

      <!-- Delete link purchase start -->
      <div class="col">
        <%= link_to purchase, method: :delete, data: { confirm: "Do you really want to delete this purchase?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link purchase end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(purchase.updated_at) %> ago
  </div>
</div>
