<div class="card mb-3">
  <h2 class="card-header h4">
    Item #<%= item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= item.title %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @item.image, class: "img-fluid" %>
      </dd>

      <dt>Price</dt>
      <dd><%= item.price %></dd>

      <dt>Category</dt>
      <dd>
        <% if @item.category.present? %>
          <%= link_to item.category, item.category %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= item.description %></dd>

      <dt>User</dt>
      <dd>
        <% if @item.user.present? %>
          <%= link_to item.user, item.user %>
        <% end %>
      </dd>

      <dt>Location url</dt>
      <dd>
        <div>
          <%= render partial: "items/one_photo_map" %>
        </div>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @item.user %>
          <%= link_to edit_item_url(item), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @item.user %>
          <%= link_to item, method: :delete, data: { confirm: "Do you really want to delete this item?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(item.updated_at) %> ago
  </div>
</div>
