<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for item_id start -->
  <!-- Input for item_id start -->
  <%= f.hidden_field :item_id, value: @item.id %>
  <!-- Input for item_id end -->
  <!-- Label and input for item_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for comment start -->
  <div class="form-group">
    <%= f.label :comment %>
    <!-- Input for comment start -->
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
    <!-- Input for comment end -->
  </div>
  <!-- Label and input for comment end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
